<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div style="text-align:center;">
        <h5 >Welcome to Tel-Aviv Municipality</h5>
        <img class="img" src="https://media.timeout.com/images/105434111/image.jpg" height="250" width="300">
        <p><b>Tel Aviv-Yafo , often referred to as just Tel Aviv, <br>
            is the most populous city in the Gush Dan metropolitan area of Israel. <br>
            Located on the Israeli Mediterranean coastline and with a population of 460,613,<br>
             it is the economic and technological center of the country. <br>
             If East Jerusalem is considered part of Israel, Tel Aviv is the country's 
             second most populous city after Jerusalem; if not,<br>
              Tel Aviv is the most populous city ahead of West Jerusalem.</b></p>
        <br>
        <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/event-detail">Event Details</button>
        <br><br>
        <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/employee-detail">Employee Details</button>
        <br><br>
        <button type="button" class="btn btn-primary" style="width: 200px; height: 50px" routerLink="/businesses-detail">Businesses Details</button>
        </div>
        <div class="card">
            <div class="card-header">
            </div>

            <div class="footer">
        <div class="logofooter">
            <img src="https://www.jerusalem.muni.il/images/logo-new2m.svg?v=1" height="88" width="128"/>
            <span class="footerText">
                © Copiright Ohad Cohen 2022
            <!-- <p class="lower">© Copiright Ohad Cohen 2022</p> -->
            </span> 
        </div>
    </div>
   
</div>
</body>
</html>


